body{
  background-image: url(./images/bg1.jpg);
  background-size: cover;
  
}
h1{
  font-family: 'Times New Roman', Times, serif;
}
.App{
  box-shadow:1px 1px 6px 6px  rgb(133, 128, 128) ;
  background-color: #bb1a04;
  text-align: center;
  width: 300px;
  height: 400px;
  margin-left: 300px;
  margin-top: 100px;
  padding: 10px;
}
li{
  text-align: start;
}
input{
  margin: 5px;
}
.add{
  display: inline-block;
  margin: 5px;
}
.button{
  width: 40px;
  
  margin: 20px;
}
.div{
  display: inline-block;
  width: 140px;
  
}
button{
  
  color: #000;
  
  border: none;
  
  cursor: pointer;
  border-radius: 3px;
 
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover{
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}